body{
    background-color: blue;
    color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}      
      
header {
    background-color: blueviolet;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
}
ul{
    list-style-type: none;
}
#corinthians {
    background-color: crimson;
}
#iasmim{
    background-color: darkgray;
}

.hoje {
    font-size: 30px;
text-align: right;
}

.button {
    background-color: black;
    color: cadetblue;
    border-radius: 15px;
    transition: all 0,5s ease;
}
.button:hover {
    background-color: brown;
    color: black;
cursor: pointer;
}
